.root {
    -fx-alignment: center;
    -fx-background-color: #fff;
}


#signInBtn {
    -fx-text-fill: #fff;
    -fx-background-color: #68C7B1;
}

#signInBtn:hover {
    -fx-background-color: rgba(104, 199, 177, 0.8);
}

.side-pane {
    -fx-background-color: linear-gradient(from 0px 768px to 400px 100px, #84FAB0 0%, #8FD3F4 100%);
    -fx-alignment: center;
}

.side-pane #headerSignupLabel {
    -fx-font-size: 32;
    -fx-font-size: 36px;
    -fx-font-weight: 700;
}

#signUpBtn {
    -fx-text-fill: #000;
    -fx-background-color: #fff;
}

#signUpBtn:hover {
    -fx-text-fill: #3bb497;
    -fx-effect: null;
}

#forgotPassword {
    -fx-text-fill: #3bb497;
    -fx-font-size: 12;
}

#forgotPassword:hover {
    -fx-text-fill: blue;
}