* > Button {
    -fx-background-color: transparent;
}

#sidebarContainer {
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-width: 1;
    -fx-border-color: #b3b3b3;
}

#sidebarContainer .sidebar-btn {
    -fx-background-radius: 6;
    -fx-border-radius: 2;
}

#sidebarContainer .sidebar-btn:hover
{
    -fx-background-color: #f2f2f2;
}

#sidebarContainer .sidebar-btn FontIcon {
    -fx-icon-color: #808080;
}

#sidebarContainer .user-avatar:hover{
    -fx-effect: dropshadow(three-pass-box, #808080, 5, 0, 0, 0);
}

.is-active {
    -fx-background-color: #e6e6e6!important;
}

.is-active FontIcon {
    -fx-icon-color: #333333;
}

#tabContainer {
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-width: 1;
    -fx-border-color: #b3b3b3;
}

#tabHeader Label {
    -fx-font-size: 24;
    -fx-font-weight: 900;
}

#tabHeader Button{
    -fx-min-width: 24;
    -fx-min-height: 24;
    -fx-max-height: 24;
    -fx-max-width: 24;
    -fx-pref-width: 24;
    -fx-pref-height: 24;
}

.search-container,
.search-message-container
{
    -fx-background-radius: 50;
    -fx-background-color: #f2f2f2;
}

.search-container #searchField,
.search-message-container #searchMessageField
{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 14;
    -fx-padding: 8 0 8 0;
}

#chatHeader {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: #b3b3b3;
}

#deleteConversationBtn FontIcon{
    -fx-icon-color: red!important;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-pane .thumb {
    -fx-effect: null;
    -fx-background-color: #bebebe;
    -fx-background-radius: 15;
    -fx-background-insets: 0, 0, 0;
    -fx-border-radius: 15;
}

.scroll-pane .thumb {
    -fx-effect: null;
    -fx-background-color: #bebebe;
    -fx-background-radius: 15;
    -fx-background-insets: 0, 0, 0;
    -fx-border-radius: 15;
}

.scroll-pane .thumb:pressed {
    -fx-background-color: #707070;
}

.scroll-pane .track-background{
    -fx-background-color: transparent;
}

.scroll-pane .increment-arrow,
.scroll-pane .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding: 0 4 0 4;
}

.scroll-pane .increment-button,
.scroll-pane .decrement-button
{
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0, 0, 0;
}

#chatContainer Button {
    -fx-min-width: 36;
    -fx-min-height: 36;
    -fx-max-width: 36;
    -fx-max-height: 36;
    -fx-background-radius: 5em;
}

#chatContainer Button:hover {
    -fx-background-color: #f2f2f2;
}

#chatContainer Button FontIcon{
    -fx-icon-color: #0084ff;
}

#messageText{
    -fx-background-radius: 20;
    -fx-background-color: #f2f2f2;
    -fx-font-size: 15;
}